# Core library สำหรับจัดการ Windows Service
pywin32>=306

# ตัวช่วยจัดการ Process และตรวจเช็คสถานะ System (แนะนำให้มีไว้)
psutil>=5.9.0

# ตัวช่วยจัดการไฟล์ Path และระบบไฟล์ที่ยืดหยุ่นขึ้น
pathlib>=1.0.1